	<div id="cards-wrapper" class="cards-wrapper row">

            {% for post in site.posts %}
                    <div class="item item-{{ post.color }} col-md-4 col-sm-6 col-xs-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                              {% include icon.html icon=post.icon %}
                            </div>
                            <h3 class="title">{% if post.short_title %}{{ post.short_title }}{% else %}{{ post.title }}{% endif %}</h3>
                            <p class="intro">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                      <a class="link" href="{{ post.url | prepend: site.baseurl }}"><span></span></a>
                            <p class="title">{{ post.date | date: "%-d %B %Y" }}</p>
                        </div>
                    </div>
            {% endfor %}
        </div>
